<h4>As a guest</h4>
  <% if @myattendances.empty? %>
    You are not attending any event
<!--     todo : put a button to attend an event -->
<% else %>
    <% @myattendances.each do |attendance| %>
      <h2> <%= link_to attendance.event.name, event_path(attendance.event) %> </h2>
      <%= link_to "Unbook this event", attendance_path(attendance), method: :delete, data: {confirm: "are you sure ?"} %>
    <% end %>
  <% end %>
<br>


<h4>as a host</h4>
  <% if @user.events.empty? %>
  <p>you re not hosting any event</p>
<!--     todo : put a button to create an event -->
  <% else %>
    <% @user.events.each do |event| %>
    <h2> <%= link_to event.name, event_path(event) %> </h2>
  <% end %>
<% end %>
